<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label>
      Initial investment
      <input type="number" name="initialInv" [(ngModel)]="initialInv" />
    </label>
    <label>
      Annual investment
      <input type="number" name="annualInv" [(ngModel)]="annualInv" />
    </label>
  </div>

  <div class="input-group">
    <label>
      Expected return
      <input type="number" name="returnInv" [(ngModel)]="returnInv" />
    </label>
    <label>
      Duration
      <input type="number" name="durationInv" [(ngModel)]="durationInv" />
    </label>
  </div>

  <button>Calculate</button>
</form>
